* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 1.5em;
}

input[type=text] {
    width: 23%;
}

.container{
    width: 80%;
    max-width: 1400px;
    margin: 5em auto;
}

.character-sheet {
    display: flex;
    margin: 2em 0;
}

.invisible {
    display: none;
}

.abilities {
    width: 10%;
    display: flex;
    flex-direction: column;
}

.ability {
    text-align: center;
    padding: 15px;
    margin: 0.5em 0;
    border: 1px solid black;
}

.column {
    width: 20%;
}

.saving-throws, .skills {
    margin-left: 3em;
    padding: 15px;
    border: 1px solid black;
    margin-bottom: 1em;
}

.saving-throws p, .skills p{
    display: flex;
    justify-content: space-between;
}